{% extends 'base.html' %}

{% block content %}
<h2>Create a new Fwitter account!</h2>

{% if missing_input %}
<p class="red">
ERROR: Please provide both your new username and password.
</p>
{% elif password_mismatch %}
<p class="red">
ERROR: Your new password did not match your verification input. Make sure both password fields match.
</p>
{% elif already_exists %}
<p class="red">
ERROR: There is already a Fwitter user with that username. Please choose a unique handle.
</p>
{% endif %}

<form action="/create_account" method="POST">
    <table>
        <tr>
            <td>create username</td>
            <td><input type="text" name="new_username"></td>
        </tr>
        <tr>
            <td>create password</td>
            <td><input type="password" name="new_password"></td>
        </tr>
        <tr>
            <td>verify password</td>
            <td><input type="password" name="new_password_verify"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="create account" class="submit"></td>
        </tr>
    </table>
</form>


{% endblock %}
